{% load static tailwind_tags %}
<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Crowdfunding Platform{% endblock %}</title>
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>

  <body class="bg-base-100 text-base-content min-h-screen">
    {% block content %}
    <div class="container mx-auto px-4 py-8">
      <section class="flex items-center justify-center h-screen">
        <h1 class="text-5xl font-bold">Django + Tailwind = ❤️</h1>
      </section>
    </div>
    {% endblock %}
  </body>
</html>
